@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
	margin: 0px;
	padding: 0px;
}

.header{
	height: 15vh; 
	background-color: white;
	width: 6vw;
	justify-content: left;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	box-sizing: border-box;
	margin: 0px 1.46vw 1.46vh 0px;
}
#logo{
	justify-content: left;
	width: 10.3vw;
	
}
#srch{
	float:center;
	margin: 0px 1.47vw 0px 0px;
}
#srchbr{
margin:0px;
border:0px;
font-size:1.32vw;
}
#srchbx{
	align-items: center;
	justify-content: center;
	display: flex;
	flex-wrap: nowrap;
	border: 2px solid grey;
	border-radius:0.7321vw;
	padding:0.61vh 11vw 0.61vh 0.3vw;
}
#logos{
	margin: 0px 18.3vw 0px 7.7vw;
}
#btn1{
	height:6.1vh;
	width: 13vw;
	margin: 0px 18.3vw 0px 7.32vw;
	padding: 0.304vh 0.7321vw 0.304vh 0.7321vw;
	border: 3px solid #3cb371;
	border-radius: 0.4vw;
	background-color: #3cb371;
	color: white;
	font-size:1.1vw;
	font-weight: bold;
	font-family: "Roboto";
	cursor: pointer;
}
#hdr1{
	margin: 0px 14.65vw 0px 14.65vw;
	font-size: 7.03vw;
	font-family: "Roboto";
	font-weight: bold;	
}
#hdr2{
	margin: 3.044vh 14.65vw 0px 14.65vw;
	font-size: 1.611vw;
	font-weight: bold;	
	font-family: "Roboto";
	color: grey;
}
#btn2{
	width: 10vw;
	height:6.1vh;
	color:white;
	margin: 1.522vh 0.732vw 1.522vh 0.732vw;
	border: 3px solid #3cb371;
	border-radius: 0.366vw;
	background-color: #3cb371;
	font-weight: bold;
	font-family: "Roboto";
	font-size:1.1vw;
	cursor: pointer;
}
#gets{
	margin:1.522vh 0.732vw 1.522vh 0.732vw;
	padding:0.3044vh 0.15vw 0.3044vh 0.15vw;
}
#body{
	overflow-x:hidden;
}

#txtimg {
	float:right;
	padding: 0px 7.32vw;
	margin: 3.044vh 1.5vw 3.044vh 1.5vw;
}

#dynimg{
	margin: 4.6vh 22vw` 0px 7.32vw;
}

#txt1{
	margin: 1.522vh 22vw 0px 4.6vh;
	font-size:4.4vw;
	font-family: "Roboto";
	font-weight: bold;
	display:left;	
}
#lngtxt{
	margin: 4.6vh 22vw 0px 2.2vw;
	font-family: "Roboto";
	font-weight: bold;
	font-size:1.245vw;
}

#sctns{
	margin: 6.09vh 22vw 12.18vh 9.52vw;
	
	
}
#stck, #fnds, #ftrs{
	border: 0.2px solid gray;
	border-radius: 1.5vw;
	width: 30vw;
	font-family: "Roboto";
	font-size: 1.32vw;
	font-weight: bold;
	display: flex;
	flex-wrap: nowrap;
	margin: 1.218vh 0.6vw 1.218vh 0.6vw;
	height: 10.6525vh;
	background-color: white;
	cursor: pointer;
}
#stcktxt, #mtxt, #ftxt {
	position: relative;
	top : 3.3486vh;
	left: 1vw;
}
#img10, #img20, #img30{
	position:relative;
	top:0.7vh;
	left:1vw;
}


#crdtst{
	margin: 24.3531vh 0px 12.1766vh 0px;
	box-sizing: border-box;
}
#cscr {
	float: right;
}
#txtstn {
	margin: 3.0441vh 0.15vw 1.522vh 7.321vw;
}
#buld {
	padding: 0.7320vh 1.5220vw 1.8302vh 0px;
}
#txt6 {
	font-family: "Roboto";
	font-size: 5.124451vw;
	font-weight: bold;
	padding: 0px 0.732vw 1.5220vh 2.2vw;
}
#txt7 {
	font-family: "Roboto";
	font-size: 1.317vw;
	font-weight: bold;
	padding: 1.522vh 0.732vw 1.5220vh 2.2vw;
	color: gray;
}

#btn3 {
	margin: 4.5662vh 0.732vw 1.522vh 2.2vw;
	padding: 1.522vh 0.732vw 1.522vh 0.732vw;
	background-color: #3cb371;
	color: white;
	border: 2px solid #3cb371;
	border-radius: 0.732vw;
	width: 10vw;
	height: 7.61035vh;
	font-size: 1.1vw;
	font-family: "Roboto";
	font-weight: bold;
	cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  padding: 0px;
  width:60.03vw;
  height: 65vh;
  top: 15vh;
  left: 20vw;
  bottom: 15vh;
  background: white;
  border: 3px solid white;
  border-radius: 1.5vw;
  z-index: 20;
}
#popup:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}
#popup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  border-radius: 1.5vw;
  z-index: -1;
}
#left{
	border-top-left-radius: 1.5vw;
	border-bottom-left-radius: 1.5vw;
	background-image: url('pop_bck_image.png');
	width:30.0146vw;
	height:65vh;
}
#lft_cntnt1{
	padding:12.1765vh 0.732vw 1.522vh 2.5622vw;
	color:white;
	font-size:2.64vw;
	font-weight:bold;
	font-family:"roboto";
}
#lft_cntnt2{
	color:white;
	font-size:2.64vw;
	font-weight:bold;
	padding:0px 0.732vw 1.522vh 2.5622vw;
	font-family:"roboto";
}
#right{
	padding:12.1765vh 2.2vw 1.522vh 0.732vw;
	width:-30.0146vw;
	display:block;
	flex-wrap: nowrap;
	float:right;
}
#rht_cntnt1{
position:relative;
color:black;
font-size:2.64vw;
font-weight:bold;
font-family:"roboto";
bottom: 2.60vw;
right:2vw;
}
#google{
	padding:3.653vh 0px 0px 0px;
	align-items:center;
}

#popupbtn1{
	position: relative;
	background-color:white;
	padding: 0.732vh 0px 0px 0px;
	align-items:center;
	width:100%;
	border: 0.2px solid grey;
	border-radius:0.366vw;
	cursor: pointer;
	height:7.610vh;
	opacity:0.6;
	transition: 0.3s;
	box-shadow: 0px 0px 1.522vh 0px grey;
	bottom: 5vh;
	right:2vw;
}
#btncntxt span{
	position:relative;
	bottom:0.99vh;
	left:8px;
	font-family:"roboto";
	font-weight: bold;
	font-size:20px;
}
#popupbtn1:hover {opacity: 1}
#clsbtn{
	position: relative;
	bottom: 10vh;
	left: 43vh;
	margin:0px;
	border:0px;
	background-color:white;
	cursor: pointer;
}



/* FOOTER */

footer{
	margin-top: 13vmax;
	height: 200vmax;
	background-color: gray;
	display:flex;
	flex-direction: column;
}

#footer1 {
	margin-top: 15vmax;
	margin-left: 50%;
}

#footer1 > h3 {
	margin-top: 2vmax;
	font-size: 5vmax;
	margin-left: -30%;
	font-family: "Roboto";
}

#yt , #grw {
	text-decoration: none;
	color: black;
}

#ftrbtn{
	display: flex;
	justify-content: space-evenly;
	margin-top: 4vmax;
	margin-left: -30%;
	margin-right: 60%;
	
}

.btnyt, .btngrw {
	
	width: 12vmax;
	height: 4vmax;
	border-radius:30px;
	border: none;
	font-family:"Roboto";
	font-size: 1.2vmax;
}

#footer2 {
	margin-top: 13vmax;
	height: 90vmax;
	display: flex;
	background-color: rgb(1,2,19, 0.767);
	font-family: "Roboto";
}

#footerUpr {
	margin-left:10vmax;
	display: flex;
}

#add {
	margin-top: 2vmax;
	margin-left: 2vmax;
	color: white;
	font-family: "Roboto";
	font-weight:bold;
}

#cntct56 > a {
	margin-left: 1vmax;
	color: white;
	font-family: "Roboto";
	font-weight:bold;
	
}

@media (max-width: 650px) {
	
	#logo{
	margin-top: -50%;
	margin-left: -12%;
	justify-content: left;
	width: 25vw;
	background-position: left top;
	}
	
	#srchbx{
		border: none;
	}
	
	#srchbx> input {
	display: none;
	border: 0px;
	}
	
	#btn1{
		display: none;
	}
	
	#srch {
		position:relative;
		left:22vw;
		bottom:1vh;
	}
	#bar1{
		width:5vw;
		height:0.2vh;
		background-color:black;
		box-sizing:border-box;
	}
	#bar2{
		position: relative;
		width:5vw;
		height:0.2vh;
		background-color:black;
		top:0.3vh;
	}
	#bar3{
		position: relative;
		width:5vw;
		height:0.2vh;
		background-color:black;
		top:0.6vh;
	}
	#bar{
		position: relative;
		bottom:1.3vh;
		left:15vw;
	}
	
	#body{
	box-sizing:border-box;
	}
	#hdr1{
	margin: 0px 14.65vw 0px 14.65vw;
	font-size: 8vw;
	font-family: "Roboto";
	font-weight: bold;
	justify-content: center;
	align-items: center;
	}
	#hdr2{
	margin: 3.044vh 14.65vw 0px 14.65vw;
	font-size: 4vw;
	font-weight: bold;	
	font-family: "Roboto";
	color: grey;
	justify-content: center;
	align-items: center;
	}
	
	#btn2{
	width: 30vw;
	height:6.1vh;
	color:white;
	margin: 1.522vh 0.732vw 1.522vh 0.732vw;
	border: 3px solid #3cb371;
	border-radius: 0.366vw;
	background-color: #3cb371;
	
	font-family: "Roboto";
	font-size:4vw;
	cursor: pointer;
	}
	#gets{
	margin:1.522vh 0.732vw 1.522vh 0.732vw;
	padding:0.3044vh 0.15vw 0.3044vh 0.15vw;
	}
}
